#search-section {
  text-align: center;
  border-bottom: 1px solid #afa7a7;
  margin-bottom: 10px;
}

#search-section input {
  width: 80%;
  height: 40px;
  font-size: 20px;
  display: inline-block;
}

#search-section button {
  height: 38px;
  margin-top: -4px;
}

#imageSection img {
  height: 180px!important;
  width: 100%;
  display: block;
}

#imageSection h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
